<!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item {% if request.path ==  url_for('main.profile')  %} active {% endif %}"
                                    href="{{ url_for('main.profile') }}">Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if request.path == url_for('auth.login')  %} active {% endif %}"
                                    href="{{ url_for('auth.login') }}">Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if request.path ==  url_for('auth.signup')  %} active {% endif %}"
                                    href="{{ url_for('auth.signup') }}">Sign Up</a>
                            </li>
                            <li>
                                <a class="dropdown-item {% if request.path ==  url_for('auth.logout')  %} active {% endif %}"
                                    href="{{ url_for('auth.logout') }}">logout</a>
                            </li>
                        </ul>
                    </li> -->