{% extends "base.html" %}

{% block content %}

<div class="container pb-5">
    <p class="fs-1 pb-5">Add Categories</p>

    {% include "/common/error.html" %}

    <div class="card py-3 shadow">
        <form action="/category" method="post">
            {{ form.csrf_token }}


            <div class="row g-2">

                <div class="col-8 px-5">
                    <div class="mt-3 form-floating mb-4" style="color: black;">
                        {{ form.name(class_='form-control text-white bg-dark', placeholder='Name') }}
                        <label for="name" class="text-light">Name</label>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="mt-3 submit-form d-flex flex-row-reverse mb-4">
                        <button type="submit" class="btn btn-block btn-primary py-3 w-100">Add</button>
                    </div>
                </div>


            </div>

        </form>
    </div>

</div>
<div class="container">
    <hr>
</div>
<div class="container pt-5">
    {%if not data%}
    <p class="fs-1 text-center">No categories found</p>
    </p>
    {%endif%}
    {%for i in data%}



    <div class="card mt-5 shadow" style="min-height: 100px;">

        <div class="row g-2 align-items-center my-auto">

            <div class="col-8 ">
                <p class="ms-5 fs-4" name="name">{{i[0].name.title()}}</p>
            </div>



            <div class="col-3">
                <form action="/delete/category" method="post">
                    <input type="hidden" value="{{i[0].id}}" name="id">
                    <div class="mt-3 submit-form mb-4">
                        <button type="submit" class="btn btn-block btn-danger py-3 w-100">Remove</button>
                    </div>
                </form>
            </div>

        </div>






    </div>
    {%endfor%}








</div>
{% endblock %}