{% extends "base.html" %}

{% block content %}

<div class="container pb-5">
    <p class="fs-1 pb-5">Add Items</p>

    {% include "/common/error.html" %}

    <div class="card py-3 shadow">
        <form action="/edit" method="post">
            {{ form.csrf_token }}


            <div class="row g-2">

                <div class="col-8 px-5">
                    <div class="mt-3 form-floating mb-4" style="color: black;">
                        {{ form.name(class_='form-control text-white bg-dark', placeholder='Name') }}
                        <label for="name" class="text-light">Name</label>
                    </div>
                </div>

                <div class="col-3 ">
                    <div class="mt-3 form-floating mb-4" style="color: black;">
                        {{ form.amount(class_='form-control text-white bg-dark', placeholder='Amount') }}
                        <label for="amount" class="text-light">Amount</label>
                    </div>
                </div>

            </div>

            <div class="row g-2">
                <div class="col-8 px-5">
                    <div class="mt-3 form-floating mb-4" style="color: black;">
                        {{ form.category(class_='form-select text-white bg-dark', placeholder='Category') }}

                        <label for="category" class="text-light">Category</label>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="mt-3 submit-form d-flex flex-row-reverse mb-4">
                        <button type="submit" class="btn btn-block btn-primary py-3 w-100">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="container pt-3"">
        <hr class="">

        
        <p class=" fs-1 py-5">All Items</p>



    {%if not data%}
    <p class="fs-3 text-center">No Categories found. You can add categories <a href="{{url_for('category')}}"
            class="link-light">here</a>.
    </p>
    {%else%}
    <form class="mt-3 submit-form d-flex flex-row-reverse mb-4" action="/download" method="get">
        <button type="submit" class="btn btn-block btn-primary py-3" style="min-width: 200px ;">Export</button>
    </form>
    {%endif%}

    {%for k in data%}
    <div class="py-5" style="min-height:500px ;">
        <p class="fs-1">{{k.name}}</p>

        {%for item in data[k] %}


        <div class="card shadow">
            <div class="card-header row  mx-1">
                <div class="col">
                    <p class="text-truncate fs-4 w-50">{{item.name.title()}}</p>
                </div>
                <div class="col-4">
                    <p class="text-truncate fs-4 w-50">x{{item.amount}}</p>
                </div>

            </div>
            <form class="card-body py-4" action="/delete/edit" method="post">
                <input type="hidden" value="{{item.id}}" name="id">
                <div class="row text-center ">
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-danger py-3 w-50">Remove</button>
                    </div>
                </div>
            </form>

        </div>
        {%endfor%}
        {%if not data[k]%}
        <p class="fs-5 ms-3">No items found.</p>
        {%endif%}
    </div>

    {%endfor%}


</div>

{% endblock %}