{% extends "base.html" %}
{% block content %}

<div class="container ">

    {%if not data%}

    <p class="fs-1 text-center">No categories found</p>
    <p class="fs-5 text-center">You can add categories <a href="{{url_for('category')}}" class="link-light">here</a>.
    </p>

    {%endif%}


    {%for k in data%}


    <div class="py-5" style="min-height:500px ;">
        <p class="fs-1 ps-5">{{k.name}}</p>


        {%for item in data[k]%}



        {% include "/common/item.html" %}

        {%endfor%}

        {%if not data[k]%}

        <p class="fs-5 ms-3">No items found in {{k.name}}, you can add items <a href="{{url_for('edit')}}"
                class="link-light">here</a>.
            {%endif%}

    </div>
    {%endfor%}
</div>

{% endblock %}